src/main/resources/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://schemas" targetNamespace="https://schemas">
  <xs:element name="order">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="id"/>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="country"/>
        <xs:element type="xs:string" name="total"/>
        <xs:element type="xs:string" name="accepted"/>
        <xs:element type="xs:string" name="itemsQuantity"/>
        <xs:element type="tns:items" name="items" />
        <xs:element type="xs:string" name="comments"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="provider"/>
      <xs:attribute type="xs:string" name="test"/>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="items">
    <xs:sequence>
      <xs:element type="tns:item" name="item" maxOccurs="unbounded" minOccurs="0">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="item">
    <xs:sequence>
      <xs:element type="xs:string" name="itemName"/>
      <xs:element type="xs:string" name="quantity"/>
      <xs:element type="xs:string" name="value"/>
    </xs:sequence>
  </xs:complexType>
          
</xs:schema>